.section__headline {
    &-category {
        margin-top: 0;
        position: relative;

        @include breakpoint(md){
            margin-bottom: 3.90625vw;
        }
        @include breakpoint(lg){
            margin-bottom: 3.33333vw;
        }
        @include breakpoint(xl){
            margin-bottom: 3.39847vw;
        }

        .dash {
            position: absolute;
            margin-top: -10px;
            margin-bottom: 0;
            width: 3rem;
            height: 0;
            display: inline-block;
            vertical-align: middle;
            border-top: .2rem solid;
            top: -.1rem;            
        }
    }

    .section__hero-content {
        margin-bottom: 50px;
        visibility: visible;
    }
}