/* ----------------------------------------------------
   Variables
------------------------------------------------------- */
	$globalRadius : 0;
	$container-class : wrapper;
	$container-max-width : 192rem;
	$screen-mobile : 320;
	$screen-tablet : 720;
	$screen-desktop : 992;
	$screen-wide : 1200;

/* ----------------------------------------------------
   Colors
------------------------------------------------------- */
$primary-color: 	#2b2b2b;
$white :			#fff;
$black : 			#2b2b2b;

$a :	#f4f4f4;
$b : 	#b9b9b9;
$c : 	#868686;
$d : 	rgb(34, 34, 34);
$e :  	#c3c3c3;
$f :	#f3f1f1;
$g : #2b2b2b;
$h : #3a3939;
$i :  #f1ede5;

/* ----------------------------------------------------
   Composite Colors
------------------------------------------------------- */

.text-white {
	color: $white;
}

/* ----------------------------------------------------
   Composite Background Colors
------------------------------------------------------- */

.background-b {
	background-color: $f;
}